{% extends "auctions/layout.html" %}

{% block body %}

{% if watchlist == False %}
    <form action="{% url 'add_watchlist' listing_item.id%}" method="POST">
        {% csrf_token %}
        
            <button class="btn btn-primary" value='{{listing_item.id}}' name="add" type='submit'>Watch</button>
{% else %}
    <form action="{% url 'remove_watchlist' listing_item.id%}" method="POST">
        {% csrf_token %}
            <button class="btn btn-secondary" value='{{listing_item.id}}' name="remove" type='submit'>Unwatch</button>
{% endif %}
    </form>
    <h2>{{listing_item.item_name}}</h2>
    <p>{{listing_item.base_price}}</p>
    {% if current_highest_bid == False %}
        <p>No bids placed </p>
    {% else %}
        <p>${{current_highest_bid}}</p>
    {% endif %}    
    <form method="POST" action="{% url 'bid' listing_item.id %}">
        {% csrf_token %}
        {{bidding_form}}
        <input type="submit" value="Place Bid">
    </form>
{% comment %} Comment section {% endcomment %}
    <form method="POST" action="{% url 'comment' listing_item.id %}">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Post">
    </form>
{% if listing_comments == False%}
    <p>No comments here.</p>
{% else %}
    {% for comments in listing_comments %}
        <p>{{comments.comment}}</p>
        <small>{{ comments.user }}</small>
    {% endfor %}
{% endif %}

    
{% endblock %}