{% extends "auctions/layout.html" %}

{% block body %}

{% if watchlist == False %}
    <form action="{% url 'add_watchlist' listing_item.id%}" method="POST">
        {% csrf_token %}
        
            <button class="btn btn-primary" value='{{listing_item.id}}' name="add" type='submit'>Watch</button>
{% else %}
    <form action="{% url 'remove_watchlist' listing_item.id%}" method="POST">
        {% csrf_token %}
            <button class="btn btn-secondary" value='{{listing_item.id}}' name="remove" type='submit'>Unwatch</button>
{% endif %}
    </form>
    <h2>{{listing_item.item_name}}</h2>
    <div>
        <img src='{{listing_item.images.url}}' width = '200px'/>
        <div>
            <p>Place a bid:</p>
            <p>Time Left: {{listing_item.auction_time_limit}}</p>
            <p>Starting at: {{listing_item.base_auction_price}}</p>
        </div>
        <div>
            <p>Or, buy straight</p>
            <p>{{listing_item.selling_price}}</p>
            <button class='btn btn-primary'>Buy</button>
        </div>
    </div>
    {% if current_highest_bid == False %}
        <p>No bids placed </p>
    {% else %}
        <p>Current Highest Bid: ${{current_highest_bid}}</p>
    {% endif %}    
    <form method="POST" action="{% url 'bid' listing_item.id %}">
        {% csrf_token %}
        {{bidding_form}}
        <input type="submit" value="Place Bid" class='btn btn-primary'>
    </form>
{% comment %} Comment section {% endcomment %}
    <form method="POST" action="{% url 'comment' listing_item.id %}">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Post" class='btn btn-primary'>
    </form>
{% if listing_comments == False%}
    <p>No comments here.</p>
{% else %}
    {% for comments in listing_comments %}
        <p>{{comments.comment}}</p>
        <small>{{ comments.user }}</small>
    {% endfor %}
{% endif %}

    
{% endblock %}